<h1>Listing contacts</h1>
<a class="btn btn-default" href="/contacts/new" role="button">New Contact</a>
<hr>
<% @contacts.each do |contact| %>
    Name: <%= contact.name %><br>
    Phone Number: <%= number_to_phone(contact.phone_num) %><br>
    Carrier: <%= contact.carrier %><br>
    Actions: <%= link_to ('<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>').html_safe, contact %>&nbsp&nbsp
    <%= link_to ('<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>').html_safe, edit_contact_path(contact) %>&nbsp
    <%= link_to ('<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>').html_safe, contact, method: :delete, data: { confirm: 'Are you sure?' }  %>
    <hr>
<% end %>